body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.big-button {
  background-color: #28a745; /* A shade of green */
  color: white;
  border: none;
  border-radius: 20px; /* Rounded corners */
  padding: 10px 30px; /* Adjust padding for a longer rectangle */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto; /* Center the button */
  display: block; /* Block display for auto margins to work */
  text-decoration: none; /* Removes underline */
}

.big-button:hover {
  background-color: #218838; /* Darker shade of green for hover effect */
  text-decoration: none;
}
